input[type="text"] {
	float:right;
	width: 65%;
	border-radius: 4px;
	border: 1px solid black;
	margin-right: 8.2%;
}

img.sample {
	width: 20%;
	height: 20%;
	padding-left: 1.2%;
	margin: 1%;
	float: left;
}